---

- name: Install KDE
  command: /bin/bash -c "yum -y install @kde-desktop"

- name: Install Firefox
  command: /bin/bash -c "yum -y install firefox"

- name: Install Guest Additions Pre-requisites
  command: /bin/bash -c "yum -y install gcc make perl kernel-devel"

- name: Install Guest Additions Virtual Driver
  command: /bin/bash -c "yum -y install xorg-x11-drv-evdev"
